<br />
<table border="1">
  <thead>
    <tr>
      <th>
        FirstName
      </th>
      <th>
        LastName
      </th>
      <th>
        Gender
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>
        SecurityQuestion
      </th>
      <th>
        Answer
      </th>
      <th>
        Password
      </th>
    </tr>

  </thead>
  <tr *ngFor="let Employee of employees;">
    <td>{{Employee.firstName}}</td>
    <td>{{Employee.lastName}}</td>
    <td>{{Employee.gender}}</td>
    <td>{{Employee.phone}}</td>
    <td>{{Employee.email}}</td>

    <td>{{Employee.securityQuestion}}</td>
    <td>{{Employee.answer}}</td>
    <td>{{Employee.password}}</td>
  </tr>
  <!--<tr *ngIf="!employees || employees.length==0">
    <td>
      No data to display!
    </td>
  </tr>-->
</table>


