<br />
<table border="1">
  <thead>
    <tr>
      <th>
        FirstName
      </th>
      <th>
        LastName
      </th>
      <th>
        userName
      </th>
      <th>
        password
      </th>
      <th>
        phoneNumber
      </th>
      <th>
        EmailId
      </th>
    </tr>

  </thead>
  <tr *ngFor="let Employee of employees;">
    <td>{{Employee.firstName}}</td>
    <td>{{Employee.lastName}}</td>
    <td>{{Employee.userName}}</td>
    <td>{{Employee.password}}</td>
    <td>{{Employee.phoneNumber}}</td>
    <td>{{Employee.emailId}}</td>

  </tr>
  <!--<tr *ngIf="!employees || employees.length==0">
    <td>
      No data to display!
    </td>
  </tr>-->
</table>


